$primary-color: #0063A0;
$secondary-color: #0094BC;
$tertiary-color: #9AD0E1;
$accent-color: #CFAC51;
$accent-color2: #D7EDF3;
$accent-color3: rgba(0, 0, 0, 0.6);

* {
    box-sizing : border-box;
    margin: 0;
    padding: 0;
}